<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PureJS</title>
    <link rel="stylesheet" href="styles/homePage.css">

    <script type="text/html" id="homePage">
      <div class="container">
        <h1><%= welcome %></h1>
        <h1><%= message %></h1>
        <h3 class="errorMessage"><%= errorMessage %></h3>
        <form id="form" class="form">
          <input type="text" id="userNameInput" class="loginInput"placeholder="name">
          <input type="text" id="userPasswordInput" class="loginInput" placeholder="password">
          <button type="submit" id="submitFormBtn" class="submitFormBtn">Submit</button>
        </form>
      </div>
    </script>

    <script type="text/html" id="success">
      <div class="container">
        <h1><%= success %></h1>
        <h2><%= submitted %></h2>
      </div>
    </script>
    <script type="text/html" id="404">
      <div class="container">
        <h1>404 Not found</h1>
      </div>
    </script>

  </head>
  <body>
    <div id="app"></div>
    <script src="./app.js" type="module"></script>
  </body>
</html>